
version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    volumes:
      - ./server/uploads:/app/uploads
      - ./server/processed:/app/processed
      - ./server/data:/app/data
    restart: always
